@charset "UTF-8";
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  padding-bottom: 30px; }

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 970px; }

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px; }

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px; }

.page-header .lead {
  margin-bottom: 10px; }

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 1000px;
  max-width: none !important; }

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px; }

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0; }

/* Always float the navbar header */
.navbar-header {
  float: left; }

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important; }

.navbar-toggle {
  display: none; }

.navbar-collapse {
  border-top: 0; }

.navbar-brand {
  margin-left: -15px; }

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0; }

.navbar-nav > li {
  float: left; }

.navbar-nav > li > a {
  padding: 15px; }

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right; }

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333; }

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important; }

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; }

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle; }

.navbar-form .form-control-static {
  display: inline-block; }

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle; }

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto; }

.navbar-form .input-group > .form-control {
  width: 100%; }

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle; }

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0; }

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0; }

.navbar-form .has-feedback .form-control-feedback {
  top: 0; }

/* Undo inline form compaction on small screens */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle; }

.form-inline .form-control-static {
  display: inline-block; }

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle; }

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto; }

.form-inline .input-group > .form-control {
  width: 100%; }

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0; }

.form-inline .has-feedback .form-control-feedback {
  top: 0; }

html, body {
  font-family: "Microsoft YaHei", "宋体", Verdana, Geneva, sans-serif; }

body, p, a, ul, li, ol, h1, h2, h3, h4, h5, em, dd, dt, td, th, dl, input, button, span, select, i, strong {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

dl dt {
  font-weight: normal; }

a {
  cursor: pointer; }

a:focus,
a:hover {
  text-decoration: none; }

.radiusClear {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.clearPadding {
  padding: 0; }

.addBorder {
  border-left: 1px solid #dddddd; }

.sub-bar > span {
  background-color: #333; }

.text-placeholder {
  font-style: normal;
  visibility: hidden; }

.sub-content {
  margin-bottom: 10px; }
  .sub-content .sub-title {
    padding: 5px; }
    .sub-content .sub-title > span {
      font-weight: bold;
      font-size: 22px;
      color: #333333;
      padding-left: 10px;
      border-left: 3px solid #0a6bb0; }
    .sub-content .sub-title > a {
      float: right;
      font-size: 14px;
      color: #ff3333;
      margin-top: 5px; }
    .sub-content .sub-title > button {
      float: right;
      font-size: 16px; }
      .sub-content .sub-title > button > i {
        margin-bottom: 2px; }
    .sub-content .sub-title > i {
      font-style: normal;
      color: #666666;
      font-size: 16px;
      margin-left: 10px; }
    .sub-content .sub-title .post-bill {
      text-align: center;
      font-size: 22px; }
  .sub-content .sub-body {
    border-top: 1px solid #dddddd; }

.fund-recommend {
  width: 310px;
  height: 250px;
  margin-bottom: 10px;
  position: relative; }
  .fund-recommend .fund-style {
    width: 70px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
    top: 19px;
    left: 9px;
    color: #ffffff;
    font-size: 16px;
    z-index: 9; }
  .fund-recommend .fund-detail {
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    top: 42px;
    left: 5px; }
    .fund-recommend .fund-detail .fund-name {
      display: inline-block;
      width: 180px;
      vertical-align: middle;
      text-align: center;
      padding: 0 10px;
      margin-top: 16px;
      color: #333333;
      font-size: 20px;
      word-wrap: break-word;
      word-break: normal;
      float: left; }
    .fund-recommend .fund-detail .fund-earn {
      display: inline-block;
      width: 100px;
      float: right; }
      .fund-recommend .fund-detail .fund-earn > dl {
        display: inline-block;
        text-align: center; }
        .fund-recommend .fund-detail .fund-earn > dl > dt {
          font-size: 28px;
          font-weight: 500;
          color: #ff3333; }
        .fund-recommend .fund-detail .fund-earn > dl > dd {
          color: #666666; }
  .fund-recommend .fund-light {
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    left: 5px; }
    .fund-recommend .fund-light > ul {
      width: 100%;
      overflow: hidden; }
      .fund-recommend .fund-light > ul > li {
        display: block;
        width: 80px;
        float: left;
        text-align: center;
        margin-left: 10px; }
        .fund-recommend .fund-light > ul > li img {
          width: 45px;
          height: 45px; }
        .fund-recommend .fund-light > ul > li .fund-light-detail {
          text-align: center;
          margin-left: 5px; }

.fund-travel {
  padding: 10px; }
  .fund-travel > img {
    margin-left: 4%; }
  .fund-travel .fund-operate {
    display: inline-block;
    margin-left: 4%; }
    .fund-travel .fund-operate > dt {
      text-align: center;
      font-weight: normal; }
  .fund-travel > span {
    font-size: 16px;
    margin-left: 2%; }

.fund-travel-button {
  margin-top: 40px; }

.post-code {
  position: fixed;
  top: 28%;
  right: -10px;
  width: 150px;
  z-index: 9999; }
  .post-code > div {
    width: 100%; }
    .post-code > div > a {
      display: block;
      width: 100%;
      top: 0; }
      .post-code > div > a > img {
        width: 150px;
        margin: 0 auto; }
    .post-code > div > img {
      width: 150px;
      margin: 0 auto; }

.bank {
  margin-left: 10px; }

.timeoutr {
  width: 100%;
  padding-top: 30%;
  text-align: center; }
  .timeoutr > a {
    display: inline-block;
    color: #337ab7;
    font-size: 16px; }

.red {
  color: #ff3333;
  font-size: 16px; }

.through {
  color: #969696;
  text-decoration: line-through; }

.post-container {
  width: 1000px !important; }

[class^=icon-] {
  display: inline-block;
  background: no-repeat center;
  vertical-align: middle;
  -webkit-background-size: contain;
  background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain; }

.icon-phone {
  background-image: url("../images/icon_phone.png"); }

.icon-select {
  background-image: url("../images/icon_select.png"); }

.icon-step {
  background-image: url("../images/icon_step.png"); }

.icon-up {
  background-image: url("../images/icon_up.png"); }

.icon-down {
  background-image: url("../images/icon_down.png"); }

.icon-user {
  background-image: url("../images/icon_user.png"); }

.icon-add {
  background-image: url("../images/icon_add.png"); }

.icon-search {
  background-image: url("../images/icon_search.png"); }

.icon-calendar {
  background-image: url("../images/icon_calendar.png"); }

.icon-hot {
  background-image: url("../images/icon_hot.png"); }

.icon-tip {
  background-image: url("../images/icon_tip.png"); }

.icon-phone {
  width: 16px;
  height: 16px;
  margin-right: 10px; }

.icon-select {
  width: 15px;
  height: 15px; }

.icon-step {
  width: 100px;
  height: 22px; }

.icon-up,
.icon-down {
  width: 10px;
  height: 17px; }

.icon-stable {
  width: 10px;
  height: 17px; }

.icon-user {
  width: 30px;
  height: 30px; }

.icon-add {
  width: 20px;
  height: 20px;
  margin-right: 5px; }

.icon-cabinet,
.icon-calendar1,
.icon-calendar2,
.icon-narrow {
  width: 50px;
  height: 50px; }

.icon-dollar {
  width: 60px;
  height: 50px; }

.icon-calendar {
  width: 19px;
  height: 19px; }

.icon-hot {
  width: 20px;
  height: 16px; }

.icon-tip {
  width: 11px;
  height: 11px; }

.icon-search {
  width: 20px;
  height: 20px; }

[class^=icons-] {
  display: inline-block;
  vertical-align: middle; }

[class^=icons-] {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.icon-001-001 {
  background-image: url("../images/ps_001_001.png");
  width: 30px;
  height: 30px; }

.icon-001-002 {
  background-image: url("../images/ps_001_002.png");
  width: 30px;
  height: 30px; }

.icon-001-003 {
  background-image: url("../images/ps_001_003.png");
  width: 30px;
  height: 30px; }

.icon-001-004 {
  background-image: url("../images/ps_001_004.png");
  width: 30px;
  height: 30px; }

.icon-001-005 {
  background-image: url("../images/ps_001_005.png");
  width: 30px;
  height: 30px; }

.icon-001-006 {
  background-image: url("../images/ps_001_006.png");
  width: 30px;
  height: 30px; }

.icon-001-007 {
  background-image: url("../images/ps_001_007.png");
  width: 30px;
  height: 30px; }

.icon-001-008 {
  background-image: url("../images/ps_001_008.png");
  width: 30px;
  height: 30px; }

.icon-001-009 {
  background-image: url("../images/ps_001_009.png");
  width: 30px;
  height: 30px; }

.icon-001-010 {
  background-image: url("../images/ps_001_010.png");
  width: 30px;
  height: 30px; }

.icon-001-011 {
  background-image: url("../images/ps_001_011.png");
  width: 30px;
  height: 30px; }

.icon-001-012 {
  background-image: url("../images/ps_001_012.png");
  width: 30px;
  height: 30px; }

.icon-001-013 {
  background-image: url("../images/ps_001_013.png");
  width: 30px;
  height: 30px; }

.icon-002-99 {
  background-image: url("../images/ps_002_99.png");
  width: 30px;
  height: 30px; }

.icon-003-012 {
  background-image: url("../images/ps_003_012.png");
  width: 30px;
  height: 30px; }

.ibtn {
  display: inline-block;
  font-family: 'Microsoft YaHei';
  padding: 6px 10px;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #dddddd;
  min-width: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none; }

.ibtn-lg {
  padding: 8px 118px;
  font-size: 16px; }

.ibtn-sm {
  padding: 2px 10px;
  font-size: 10px; }

.ibtn-default {
  color: #b2b2b2;
  border-color: #b2b2b2; }
  .ibtn-default:focus, .ibtn-default:hover {
    color: #ffffff;
    background-color: #b2b2b2; }

.ibtn-blue {
  color: #347ab8;
  border-color: #347ab8; }
  .ibtn-blue:focus, .ibtn-blue:hover {
    color: #ffffff;
    background-color: #347ab8; }

.blue-cover {
  background-color: #347ab8;
  color: #ffffff; }

.ibtn-red {
  color: #cc3333;
  border-color: #cc3333; }
  .ibtn-red:focus, .ibtn-red:hover {
    color: #ffffff;
    background-color: #cc3333; }

.red-cover {
  background-color: #cc3333;
  color: #ffffff; }

.ibtn-gray {
  color: #b3b3b3;
  border-color: #b3b3b3; }
  .ibtn-gray:focus, .ibtn-gray:hover {
    color: #ffffff;
    background-color: #b3b3b3; }

.gray-cover {
  background-color: #b3b3b3;
  color: #ffffff; }

.ibtn-yellow {
  color: #ff9333;
  border-color: #ff9333; }
  .ibtn-yellow:focus, .ibtn-yellow:hover {
    color: #ffffff;
    background-color: #ff9333; }

.yellow-cover {
  background-color: #ff9333;
  color: #ffffff; }

.button {
  color: #666;
  background-color: #eeeeee;
  border-color: #eee;
  font-weight: 300;
  font-size: 16px;
  font-family: "Microsoft YaHei","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; }
  .button:focus, .button:hover {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; }
  .button:active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button:visited {
    color: #666; }

.button-square {
  border-radius: 0; }

.button-box {
  border-radius: 10px; }

.button-rounded {
  border-radius: 4px; }

.button-pill {
  border-radius: 200px; }

.button-circle {
  padding: 0 !important;
  width: 40px;
  border-radius: 100%; }

.button-3d {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
  .button-3d:hover, .button-3d:focus {
    text-decoration: none;
    -webkit-box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
  .button-3d:active {
    top: 5px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2); }

.button-orange {
  background-color: #ff9333;
  border-color: #ff9333;
  color: #FFF;
  -webkit-box-shadow: 0 5px 0 #c7742b, 0 6px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 0 #c7742b, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-orange:hover, .button-orange:focus {
    background-color: #ff9333;
    border-color: #ff9333;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 0 #c7742b, 0 6px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 0 #c7742b, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-orange:active {
    background-color: #ff9333;
    border-color: #ff9333;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 0 #c7742b, 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 #c7742b, 0 3px 3px rgba(0, 0, 0, 0.2); }

.ibtn-padding {
  padding: 6px 17px; }

.btn-seperate-left {
  margin-left: 15px; }

.caret-up {
  border-bottom: 4px dashed; }

.nav-top {
  width: 100%;
  min-width: 1000px;
  height: 30px;
  line-height: 30px;
  background-color: #f0f0f0; }
  .nav-top a {
    color: #666666;
    font-size: 14px; }

.nav-middle {
  width: 100%;
  height: 66px;
  line-height: 66px; }
  .nav-middle .nav-top-title {
    margin-left: 120px !important; }
  .nav-middle .open-account {
    color: #666666; }
    .nav-middle .open-account a.login-please {
      color: #ff3333; }
    .nav-middle .open-account a.login-out {
      color: #666666;
      margin-left: 10px; }
      .nav-middle .open-account a.login-out:hover {
        text-decoration: none; }
  .nav-middle .qrcode {
    float: left; }
    .nav-middle .qrcode:first-child {
      margin-left: 130px; }
    .nav-middle .qrcode > div {
      width: 100px;
      text-align: center; }
      .nav-middle .qrcode > div img {
        width: 52px;
        height: 52px;
        margin: 0 auto; }
    .nav-middle .qrcode .qrcode-style {
      height: 12px;
      line-height: 12px;
      font-size: 12px;
      color: #147dc6;
      vertical-align: bottom;
      padding-top: 1px; }

.nav-bottom {
  width: 100%;
  min-width: 1000px;
  height: auto;
  vertical-align: middle;
  position: relative;
  background-color: #e6e6e6; }
  .nav-bottom .post-logo2 {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 1; }
    .nav-bottom .post-logo2 a {
      display: block; }
  .nav-bottom .post-navbar {
    margin-left: 160px; }
    .nav-bottom .post-navbar > ul.post-nav li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #333333;
      font-size: 16px;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s; }
    .nav-bottom .post-navbar > ul.post-nav li > a:hover {
      background-color: #347ab8;
      color: #ffffff; }
    .nav-bottom .post-navbar > ul.post-nav li .post-nav-list {
      padding-top: 0;
      padding-bottom: 0;
      min-width: 110px;
      left: -1px; }
      .nav-bottom .post-navbar > ul.post-nav li .post-nav-list > li > a {
        display: inline-block;
        font-size: 15px;
        color: #666666;
        padding-bottom: 5px;
        text-decoration: none;
        background-color: transparent;
        border-bottom: 3px solid transparent; }
      .nav-bottom .post-navbar > ul.post-nav li .post-nav-list > li:hover, .nav-bottom .post-navbar > ul.post-nav li .post-nav-list > li:active {
        background-color: #347ab8;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s; }
        .nav-bottom .post-navbar > ul.post-nav li .post-nav-list > li:hover > a, .nav-bottom .post-navbar > ul.post-nav li .post-nav-list > li:active > a {
          color: #ffffff; }
      .nav-bottom .post-navbar > ul.post-nav li .post-nav-list > li.active > a {
        background-color: #347ab8;
        color: #ffffff; }
    .nav-bottom .post-navbar > ul.post-nav li.active > a {
      background-color: #347ab8;
      color: #ffffff; }

.caret-up {
  border-bottom: 4px dashed;
  border-top: 0; }

.fund-select {
  color: #5a5a5a;
  padding: 15px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .fund-select > ul {
    overflow: hidden; }
    .fund-select > ul li {
      list-style: none;
      float: left;
      margin-left: 10px;
      line-height: 30px; }
      .fund-select > ul li > a {
        font-size: 16px;
        color: inherit;
        text-align: center;
        padding: 8px 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
      .fund-select > ul li a:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #347ab8; }
      .fund-select > ul li a:focus {
        text-decoration: none; }
    .fund-select > ul li.current a {
      text-decoration: none;
      color: #ffffff;
      background-color: #347ab8; }

.fund-select1 {
  color: #999999;
  padding: 15px 0; }
  .fund-select1 > ul {
    overflow: hidden; }
    .fund-select1 > ul li {
      width: 49%;
      list-style: none;
      float: left;
      margin-left: 0;
      padding: 10px;
      line-height: 30px;
      border: 1px solid #dddddd;
      text-align: center; }
      .fund-select1 > ul li:hover {
        background-color: #347ab8; }
        .fund-select1 > ul li:hover p {
          color: #ffffff; }
      .fund-select1 > ul li p {
        font-size: 14px;
        color: #999999;
        padding: 5px 0; }
        .fund-select1 > ul li p > a {
          color: #ff3333; }
      .fund-select1 > ul li .select-title {
        font-size: 20px; }
    .fund-select1 > ul li.select-r {
      float: right; }
    .fund-select1 > ul li.active {
      background-color: #347ab8; }
      .fund-select1 > ul li.active p {
        color: #ffffff; }

.table-position {
  margin-bottom: 0; }

.table-post1 {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0; }
  .table-post1 thead tr,
  .table-post1 tbody tr {
    background-color: #fafafa; }
    .table-post1 thead tr td,
    .table-post1 tbody tr td {
      text-align: center;
      vertical-align: middle;
      color: #666666; }
    .table-post1 thead tr .table-post-get,
    .table-post1 tbody tr .table-post-get {
      color: #cc3333; }
    .table-post1 thead tr .table-post-lost,
    .table-post1 tbody tr .table-post-lost {
      color: #339933; }
    .table-post1 thead tr .table-post-stable,
    .table-post1 tbody tr .table-post-stable {
      color: #ff9933; }
  .table-post1 thead .table-post-title,
  .table-post1 tbody .table-post-title {
    background-color: #f2f2f2; }
    .table-post1 thead .table-post-title td,
    .table-post1 tbody .table-post-title td {
      color: #333333; }

.table-post2 {
  margin-bottom: 0; }
  .table-post2 thead tr,
  .table-post2 tbody tr {
    background-color: #ffffff; }
    .table-post2 thead tr td,
    .table-post2 tbody tr td {
      text-align: center;
      vertical-align: middle;
      color: #666666; }
  .table-post2 thead .table-post-title,
  .table-post2 tbody .table-post-title {
    background-color: #f2f2f2; }
    .table-post2 thead .table-post-title td,
    .table-post2 tbody .table-post-title td {
      color: #333333; }

.table-post3 {
  margin-bottom: 0;
  border: 0; }
  .table-post3 > thead, .table-post3 > tbody {
    border: 0; }
    .table-post3 > thead > tr, .table-post3 > tbody > tr {
      background-color: #ffffff;
      border: 0; }
      .table-post3 > thead > tr > td, .table-post3 > tbody > tr > td {
        vertical-align: middle;
        color: #333333;
        border: 0; }
        .table-post3 > thead > tr > td:first-child, .table-post3 > tbody > tr > td:first-child {
          padding-left: 20px; }
    .table-post3 > thead .table-post-title, .table-post3 > tbody .table-post-title {
      background-color: #f2f2f2; }
      .table-post3 > thead .table-post-title td, .table-post3 > tbody .table-post-title td {
        color: #333333; }

.table-fixed tr td {
  width: 120px !important; }

.sub-content > .panel-body + .table-post3,
.sub-content > .table-post3 + .panel-body {
  border-top: 0; }

.customer-made thead > tr > td, .customer-made tbody > tr > td {
  width: 50%; }

.post-search {
  width: 230px;
  padding: 2px 5px;
  background-color: #347ab8;
  margin-top: 10px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  position: relative;
  z-index: 100;
  behavior: url(/common-web/static/skin/bluepost/css/ie-css3.htc); }
  .post-search input.post-search-input {
    background-color: transparent;
    border: transparent;
    outline: none;
    color: #ffffff; }
    .post-search input.post-search-input:focus {
      border-color: #347ab8;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 122, 184, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 122, 184, 0.6); }
    .post-search input.post-search-input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #ffffff; }
    .post-search input.post-search-input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #ffffff; }
    .post-search input.post-search-input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #ffffff; }
  .post-search > span.input-group-btn .search-btn {
    background-color: transparent;
    border: transparent;
    outline: none; }
    .post-search > span.input-group-btn .search-btn:hover {
      border: transparent; }
    .post-search > span.input-group-btn .search-btn:focus {
      border-left: transparent; }

.sub-radio {
  display: inline-block;
  background: no-repeat center;
  vertical-align: middle;
  -webkit-background-size: contain;
  background-size: contain;
  background-image: url(../images/icon_radio1.png);
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.sub-radio-s {
  background-image: url(../images/icon_radio.png);
  width: 20px;
  height: 20px; }

.sub-radio-no {
  background-image: url(../images/icon_radio_disable.png);
  width: 20px;
  height: 20px; }

.post-select {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0; }
  .post-select > em {
    display: inline-block;
    height: 34px;
    line-height: 28px;
    font-style: normal;
    padding: 2px 20px;
    padding-right: 50px; }
    .post-select > em > i {
      margin-right: 5px; }
  .post-select > span {
    display: inline-block;
    position: absolute;
    width: 34px;
    height: 34px;
    border-left: 1px solid #dddddd;
    top: 0;
    right: 0;
    text-align: center;
    vertical-align: middle; }
    .post-select > span > i {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 0;
      margin-top: 12px;
      vertical-align: middle;
      background: url("../images/arrow.png") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain; }
  .post-select .bank-list {
    width: 100%;
    position: absolute;
    background: #fff;
    border: 1px solid #dddddd;
    height: auto;
    left: 0;
    z-index: 99;
    border-top: 1px solid #c7c7c7;
    -ms-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    .post-select .bank-list li {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #c7c7c7;
      padding-left: 20px; }
      .post-select .bank-list li > a {
        color: #555555; }
        .post-select .bank-list li > a > i {
          margin-right: 5px; }
      .post-select .bank-list li:last-child {
        border-bottom: 0px; }
      .post-select .bank-list li:hover {
        background-color: #f5f5f5; }

.tipdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .tipdialog .tipdialog-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein .1s;
    animation: ngdialog-fadein .1s; }
  @media \0screen\,screen\9 {
    .tipdialog .tipdialog-overlay {
      background-color: #000000;
      filter: Alpha(opacity=40);
      *zoom: 1; } }
  .tipdialog .tipdialog-content {
    background: #ffffff;
    color: #444;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    width: 420px;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -120px; }
    .tipdialog .tipdialog-content .dialog_hd {
      padding: 10px;
      border-bottom: 1px solid #f1f1f1;
      background-color: #f6f6f6; }
      .tipdialog .tipdialog-content .dialog_hd .title {
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 10px;
        padding-left: 10px; }
    .tipdialog .tipdialog-content .dialog_bd {
      text-align: left;
      padding: 20px 10px 20px 20px; }
      .tipdialog .tipdialog-content .dialog_bd .dialog-input {
        margin-top: 10px; }
        .tipdialog .tipdialog-content .dialog_bd .dialog-input .input-title {
          width: 25%;
          font-weight: normal;
          float: left;
          text-align: right;
          line-height: 34px; }
        .tipdialog .tipdialog-content .dialog_bd .dialog-input .input-content {
          width: 70%;
          float: left; }
      .tipdialog .tipdialog-content .dialog_bd > span {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        text-align: center; }
      .tipdialog .tipdialog-content .dialog_bd > input {
        display: inline-block;
        width: 70%;
        margin: 0 auto; }
      .tipdialog .tipdialog-content .dialog_bd > ul {
        overflow: hidden;
        list-style: none; }
        .tipdialog .tipdialog-content .dialog_bd > ul > li {
          float: left; }
          .tipdialog .tipdialog-content .dialog_bd > ul > li > img {
            width: 50px;
            height: 50px; }
          .tipdialog .tipdialog-content .dialog_bd > ul > li > span {
            display: inline-block;
            font-size: 16px;
            vertical-align: middle;
            margin-top: 10px;
            word-break: break-all; }
        .tipdialog .tipdialog-content .dialog_bd > ul .warning {
          color: #bd0909; }
        .tipdialog .tipdialog-content .dialog_bd > ul .dialog_detail {
          max-width: 390px;
          margin-left: 15px;
          padding-top: 5px; }
          .tipdialog .tipdialog-content .dialog_bd > ul .dialog_detail dl dt {
            font-size: 16px; }
          .tipdialog .tipdialog-content .dialog_bd > ul .dialog_detail dl dd {
            color: #999999; }
    .tipdialog .tipdialog-content .dialog-btn,
    .tipdialog .tipdialog-content .dialog-btn1 {
      overflow: hidden;
      text-align: right;
      padding: 10px;
      padding-bottom: 20px; }
      .tipdialog .tipdialog-content .dialog-btn .btn-margin-l,
      .tipdialog .tipdialog-content .dialog-btn1 .btn-margin-l {
        margin-left: 45px; }
      .tipdialog .tipdialog-content .dialog-btn .btn-margin-r,
      .tipdialog .tipdialog-content .dialog-btn1 .btn-margin-r {
        margin-right: 45px; }
    .tipdialog .tipdialog-content .dialog-btn1 > a {
      display: inline-block;
      font-size: 14px;
      color: #666666;
      text-decoration: underline; }
    .tipdialog .tipdialog-content .dialog-btn-m {
      overflow: hidden;
      text-align: center;
      padding: 10px;
      padding-bottom: 20px; }
      .tipdialog .tipdialog-content .dialog-btn-m > a {
        min-width: 110px; }
    .tipdialog .tipdialog-content .tipdialog-close {
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 0px;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      display: inline-block; }
      .tipdialog .tipdialog-content .tipdialog-close > i {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/close.png) no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain; }
      .tipdialog .tipdialog-content .tipdialog-close .close-s {
        background-image: url(../images/close-s.png); }
  .tipdialog .tipdialog-loading {
    width: 300px;
    background: transparent;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px; }
    .tipdialog .tipdialog-loading > img {
      width: 100%; }

.post-page {
  width: 100%;
  text-align: center; }

.post-pagination > li > a {
  color: #666666; }
  .post-pagination > li > a:focus {
    color: #666666; }
.post-pagination > li.cur > a {
  background-color: #05b1ea;
  color: #ffffff; }

.footer-post {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  background-color: #f9f9f9; }
  .footer-post .footer-content {
    color: #666666; }
    .footer-post .footer-content p span {
      display: inline-block;
      padding: 5px 15px;
      background-color: #f5f5f5; }
    .footer-post .footer-content > ul {
      display: inline-block;
      overflow: hidden;
      text-align: center; }
      .footer-post .footer-content > ul > li {
        float: left; }
      .footer-post .footer-content > ul li.post-hotline {
        margin-left: 10px; }
        .footer-post .footer-content > ul li.post-hotline > ul {
          margin-top: 10px;
          overflow: hidden; }
          .footer-post .footer-content > ul li.post-hotline > ul > li {
            float: left; }
          .footer-post .footer-content > ul li.post-hotline > ul .post-hotline-img {
            margin-top: 6px;
            margin-right: 10px; }

.location {
  padding: 10px;
  margin-bottom: 5px; }
  .location > span {
    padding: 0 5px;
    color: #ff3333; }

.welcome {
  padding: 10px;
  margin-bottom: 5px;
  color: #666666; }

.my-assets {
  padding: 10px 10px 10px 25px;
  margin-bottom: 10px; }
  .my-assets > span {
    font-size: 18px;
    color: #333333;
    padding-left: 10px; }
  .my-assets > i {
    font-style: normal;
    color: #ff3333;
    font-size: 18px;
    margin-left: 10px; }

.fund-buy {
  width: 100%;
  padding: 40px;
  text-align: center; }

.customer-msg {
  width: 100%;
  text-align: center;
  font-size: 22px; }
  .customer-msg > i {
    margin-right: 10px; }
  .customer-msg > span {
    display: inline-block;
    margin-top: 5px; }

.customer-detail {
  width: 100%; }
  .customer-detail > dl {
    display: block;
    margin-left: 15%;
    text-align: left; }
    .customer-detail > dl > dt, .customer-detail > dl > dd {
      padding: 10px;
      font-weight: 500; }
      .customer-detail > dl > dt > span, .customer-detail > dl > dd > span {
        color: #666666;
        margin-right: 5px; }

.risk-test {
  text-indent: 20px; }
  .risk-test span {
    color: #ff3333; }

.risk-title > dt {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0; }
.risk-title > dd {
  color: #666666; }
  .risk-title > dd span {
    font-size: 16px;
    color: #333333; }

.risk-over {
  width: 100%;
  text-align: center; }
  .risk-over > dl {
    padding: 15px; }
    .risk-over > dl > dt {
      padding: 20px 0; }
    .risk-over > dl > dd span {
      font-size: 20px; }
    .risk-over > dl > dd a {
      text-decoration: underline; }

.fund-spot {
  width: 100%;
  text-align: center; }
  .fund-spot > dl {
    padding: 15px; }
    .fund-spot > dl > dt {
      padding: 20px 0; }
    .fund-spot > dl > dd span {
      font-size: 20px; }
    .fund-spot > dl > dd a {
      text-decoration: underline; }

.bank-box {
  width: 100%;
  text-align: center;
  padding: 15px 10px; }

.bank-card {
  width: 100%;
  height: 190px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  background: url(../images/fund_shadow.png) no-repeat bottom; }
  .bank-card .bankCard > img {
    width: 346px;
    height: 160px;
    position: absolute;
    left: 50%;
    margin-left: -178px;
    bottom: -15px;
    z-index: 9; }
  .bank-card .bankCard > dl.bankAdd {
    display: block;
    width: 346px;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -178px;
    z-index: 10; }
    .bank-card .bankCard > dl.bankAdd > dt > a {
      color: #ffffff;
      font-size: 18px; }
    .bank-card .bankCard > dl.bankAdd > dd {
      margin-top: 10px; }
      .bank-card .bankCard > dl.bankAdd > dd > a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: underline; }
      .bank-card .bankCard > dl.bankAdd > dd > span {
        display: inline-block;
        margin-top: 42px;
        color: #ffffff;
        font-size: 18px; }
        .bank-card .bankCard > dl.bankAdd > dd > span > em {
          font-style: normal;
          margin-left: 10px; }

.bank-card1 .bankCard > img {
  bottom: 20px; }
.bank-card1 .bankCard > dl.bankAdd {
  top: 45px; }

.open-step {
  width: 100%; }
  .open-step > ul {
    max-width: 630px;
    margin: 0 auto; }
    .open-step > ul > li {
      margin-bottom: 15px;
      position: relative; }
      .open-step > ul > li > span {
        display: inline-block;
        width: 120px;
        position: absolute;
        text-align: center;
        font-size: 16px;
        z-index: 9; }
      .open-step > ul > li span.step1 {
        bottom: -10px; }
      .open-step > ul > li span.step2 {
        bottom: -10px;
        left: 245px; }
      .open-step > ul > li span.step3 {
        bottom: -10px;
        right: 10px; }
      .open-step > ul > li span.step-on {
        color: #347ab8; }

.sub-step {
  width: 100%;
  text-align: center; }
  .sub-step > ul {
    margin-left: 10%; }
    .sub-step > ul > li {
      width: 600px;
      overflow: hidden;
      margin-bottom: 15px; }
      .sub-step > ul > li > span {
        display: inline-block;
        width: 150px;
        float: left; }
      .sub-step > ul > li span.step1 {
        margin-left: 50px;
        color: #ff9333; }
      .sub-step > ul > li span.step2 {
        margin-left: 25px; }
      .sub-step > ul > li span.step3 {
        margin-left: 25px; }

.sub-step-content {
  margin-left: 10%; }
  .sub-step-content > dt {
    font-size: 16px;
    padding: 20px;
    color: #ff3333; }
    .sub-step-content > dt > em {
      font-style: normal; }
  .sub-step-content > dd {
    font-size: 16px;
    padding: 20px;
    color: #333333; }
    .sub-step-content > dd > em {
      font-style: normal; }
    .sub-step-content > dd > span {
      font-size: 16px;
      color: #333333; }

.sub-next-step {
  width: 100%;
  text-align: center;
  padding: 15px;
  padding-left: 0; }

.sub-next-step1 {
  text-align: left; }

.second-step .sub-step span.step2 {
  color: #ff9333; }

.third-step .sub-step span.step2,
.third-step .sub-step span.step3 {
  color: #ff9333; }

.fund-cost {
  color: #ff3333; }

.step-over {
  width: 100%; }
  .step-over > dl {
    width: 600px;
    margin: 0 auto;
    padding: 15px 0; }
    .step-over > dl > dt {
      padding: 20px 0;
      text-align: center; }
    .step-over > dl > dd {
      font-size: 18px;
      color: #666666; }
      .step-over > dl > dd > ul {
        padding-left: 35%; }
        .step-over > dl > dd > ul > li span {
          font-size: 20px;
          color: #333333; }
        .step-over > dl > dd > ul > li em {
          color: #ff3333;
          font-style: normal; }
        .step-over > dl > dd > ul > li a {
          text-decoration: underline;
          color: #ff3333;
          font-size: 14px; }
        .step-over > dl > dd > ul > li span.fail-reason {
          color: #ff3333;
          font-size: 14px; }
        .step-over > dl > dd > ul > li.dividend span {
          font-size: 14px;
          color: #666666;
          margin-right: 10px; }
        .step-over > dl > dd > ul > li.dividend span.dividend-success {
          color: #347ab8; }
        .step-over > dl > dd > ul > li.dividend span.dividend-fail {
          color: #ff3333; }
      .step-over > dl > dd .buy-success,
      .step-over > dl > dd .buy-fail {
        padding-left: 20%; }
      .step-over > dl > dd .redeem-success,
      .step-over > dl > dd .redeem-fail {
        padding-left: 22%; }

.sub-success {
  width: 100%;
  text-align: center;
  padding: 8% 0; }
  .sub-success > dl {
    padding: 15px; }
    .sub-success > dl > dt {
      padding: 20px 0; }
    .sub-success > dl > dd {
      font-size: 18px;
      color: #666666; }
      .sub-success > dl > dd span {
        font-size: 20px;
        color: #333333;
        padding: 0 5px; }
      .sub-success > dl > dd em {
        color: #ff3333;
        font-style: normal; }
      .sub-success > dl > dd a {
        text-decoration: underline;
        color: #ff3333;
        font-size: 14px;
        margin-left: -210px; }
      .sub-success > dl > dd span.redeem-fail {
        color: #ff3333;
        font-size: 14px;
        margin-left: -333px; }
      .sub-success > dl > dd span.redeem-reason {
        color: #ff3333;
        font-size: 14px;
        margin-left: -280px; }

.history-date {
  width: 270px;
  margin-bottom: 10px !important; }
  .history-date > span {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 70px;
    float: left;
    padding-top: 6px; }
  .history-date > input {
    padding-left: 5px;
    padding-right: 0;
    width: 196px !important;
    float: right; }

.history-search > a {
  width: 270px;
  padding-left: 0;
  padding-right: 0; }

.post-code-create {
  text-align: center; }
  .post-code-create .form-group label {
    font-weight: normal;
    padding-right: 0; }
  .post-code-create .form-group .create-success {
    font-size: 18px; }
  .post-code-create .form-group .post-code-input {
    display: inline-block;
    width: 82%; }

.post-open {
  margin-top: 10px; }
  .post-open .form-group label {
    font-weight: normal; }
  .post-open .form-group .date-effect {
    margin-top: 5px;
    vertical-align: text-bottom; }
    .post-open .form-group .date-effect > input[type="checkbox"] {
      vertical-align: text-bottom;
      margin-bottom: 1px; }
  .post-open .form-group .open-tip {
    padding-left: 0;
    vertical-align: text-bottom; }
    .post-open .form-group .open-tip > input[type="checkbox"] {
      vertical-align: text-bottom;
      margin-bottom: 1px; }

.form-bill {
  margin: 10px; }
  .form-bill .bill-title {
    line-height: 22px; }
  .form-bill .bill-input {
    position: relative;
    width: 190px; }
    .form-bill .bill-input .bill-calendar {
      position: absolute;
      width: 48px;
      height: 34px;
      line-height: 34px;
      bottom: 0;
      right: 0;
      overflow: hidden; }
      .form-bill .bill-input .bill-calendar > div {
        color: #666666;
        float: left;
        height: 100%; }
        .form-bill .bill-input .bill-calendar > div .icon-calendar {
          margin-top: 7px;
          margin-right: 4px; }
        .form-bill .bill-input .bill-calendar > div .caret-bill {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 5px;
          margin-top: 12px;
          vertical-align: middle;
          background: url("../images/arrow.png") no-repeat center;
          -webkit-background-size: contain;
          background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain; }
      .form-bill .bill-input .bill-calendar .bill-border {
        border-right: 1px solid #cccccc; }

.bill-owner {
  padding: 10px;
  margin-top: 5px;
  color: #666666; }

.bill-odd {
  background-color: #ebebeb; }

.bill-even {
  background-color: #f5f5f5;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; }

.bill-title,
.bill-content {
  border-right: 1px solid #ffffff;
  padding: 5px 5px 5px 0;
  text-align: right; }

.bill-content {
  text-align: left;
  margin-left: -10px; }

.border-right-n {
  border-right: none; }

.border-none {
  border: none !important; }

.bill-tip {
  color: #969696;
  margin-top: 20px; }
  .bill-tip .bill-tip-title {
    color: #FF3333; }
  .bill-tip div {
    line-height: 28px; }
    .bill-tip div em {
      font-style: normal;
      font-size: 20px; }

.bill-left {
  margin-left: 15px; }

.bg-account1 {
  background-color: #dfc8b8; }

.bg-account2 {
  background-color: #f6e5d9; }

.bg-buy1 {
  background-color: #f0ce65; }

.bg-buy2 {
  background-color: #f7e9c0; }

.bg-search1 {
  background-color: #8abae1; }

.bg-search2 {
  background-color: #c6dff4; }

.padding-l {
  padding-left: 0; }

.padding-r {
  padding-right: 0; }

.border-white {
  padding: 5px 0; }
  .border-white hr {
    border-bottom: 1px dashed #ffffff; }

.postnotes {
  margin-bottom: 10px;
  padding-bottom: 10px; }

.note-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  color: #666;
  z-index: 99; }

.postnote-title {
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px dashed #666666; }

.postnote-title-s {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #666666;
  position: relative; }

.notes-title {
  font-size: 16px;
  color: #666666;
  text-align: left;
  padding: 10px 0; }

.notes-step {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #646464;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px; }

.notes-pic {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px; }
  .notes-pic > img {
    width: 100%;
    max-width: 456px; }

.post-online {
  width: 660px;
  margin: 10px auto;
  resize: none; }

.btn-message {
  width: 660px;
  margin-top: 10px;
  margin-bottom: 10px; }

.online-tip {
  color: #969696; }

.answer {
  padding: 20px 0;
  border-bottom: 1px dashed #969696; }
  .answer .question > div {
    line-height: 20px; }
    .answer .question > div > i {
      margin-top: 4px;
      margin-right: 6px; }
  .answer .question .question-content {
    width: 800px; }
  .answer .question .question-date {
    width: 100px;
    color: #969696; }

/*# sourceMappingURL=main.css.map */
