@charset "UTF-8";
.fund-state {
  height: auto;
  margin: 10px;
  @extend .flex;
  .fund-step {
    width: 65px;
    margin: 10px 20px;
    &>img {
      width: 100%;
    }
  }
  .state-tip {
    @include flex();
    font-size: 14px;
    color: $font-light2;
    margin-top: 20px;
    position: relative;
    .state1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .state2 {
      position: absolute;
      top: 126px;
      left: 0;
    }
    .state3 {
      position: absolute;
      top: 255px;
      left: 0;
    }
  }
}
.trade-comment {
  margin: 0px 10px;
  padding: 10px 0;
  text-align: center;
  border-top:1px solid $border-gray;
  &>p {
    color: $font-base;
    font-size: 18px;
  }
  .trade-star {
    display: inline-block;
    margin: 0 auto;
    &>a{
      display: inline-block;
      margin: 5px;
    }
  }
  textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
  }
}
.investment-date {
  &>li {
    .sub-radio {
      margin: 0;
    }
  }
}
//现金宝
.fund-pro {
  background-color:$color-white;
  border-bottom: 3px solid $border-pink1;
  .fund-pro-title {
    padding-left: 10px;
    font-size: 18px;
    color: $color-red;
    font-weight: 700;
  }
  .title-cash {
    font-size: 13px;
    color: $font-dark;
  }
  .sub-btn1 {
    max-width: 60px;
    height: 30px;
    line-height: 30px;
  }
  @media screen and (max-width:330px) {
    .sub-btn1 {
      max-width: 50px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }
}