@charset "UTF-8";
.dialog {
  .cover {
    background:#000;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
    z-index:110;
  }
  .loading-content{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background:url("../images/loading.gif");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-color:$color-white;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-50px ;
    margin-top:-50px ;
    z-index:111;
    @include roundBox($radius:200px);
  }
  .dialog-content {
    width:90%;
    height:auto;
    background-color: $color-white;
    border-radius: 5px;
    position:fixed;
    left:5%;
    top:20%;
    z-index:111;
    .dialog-style {
      width: 100%;
      text-align: center;
      margin: 20px 0;
      position: relative;
      &>i {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
      &>image{
        max-width: 70px;
      }
      .dialog-success{//成功
        background-image: url("../images/icon_success.png");
      }
      .dialog-fail{//失败
        background-image: url("../images/icon_fail.png");
      }
      .dialog-warn{//警告
        width: 60px;
        height: 60px;
        background-image: url("../images/icon_tipaccount.png");
      }
      .dialog-enheng{//疑问
        background-image: url("../images/icon_enheng.png");
      }
      .dialog-service{//客服
        width: 60px;
        height:60px;
        background-image: url("../images/icon-service.png");
      }
      .dialog-user{//账户
        width: 60px;
        height:60px;
        background-image: url("../images/icon_tipaccount.png");
      }
      .dialog-close {
        display: block;
        width: 14px;
        height: 14px;
        padding: 6px;
        position: absolute;
        right: 5px;
        top: -15px;
        z-index: 111;
        &>i{
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url(../images/icon_close.png) no-repeat center;
          background-size: contain;
        }
      }
    }
    &>p {
      width: 90%;
      margin: 0 auto;
      font-size: 15px;
      &>span {
        font-weight: bold;
      }
      span.red{font-weight: normal;}
    }
    .dialog-detail-m {//居中
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
    }
    .dialog-detail{
      padding: 0 10px;
    }
    .dialog-input {//输入框
      width: 70%;
      margin: 0 auto;
      line-height: 35px;
      margin-top: 40px;
      border: 1px solid $border-light;
      text-align: center;
      @include roundBox();
    }
  }
}