@charset "UTF-8";
.table{
  width: 100%;
  height: auto;
  border-collapse: collapse;
  font-size: 1.2rem;
  background-color: #ffffff;
  position: relative;
  thead{
    th{
      color: #666666;
    }
  }
  tr {
    th,
    td {
      text-align: center;
      vertical-align: middle;
      padding: 10px 0;
      &:first-child{
        padding-left: 10px;
      }
      &:last-child{
        padding-right: 10px;
      }
    }
  }
}
.table-flex {
  tr{
    @extend .flex;
    td,
    th
    {
      @include flex();
    }
  }
  thead {
  }
  tbody {
  }
}
.table-assets{//持有基金
  tr{
    th
    {
      &:nth-child(1){
        @include flex($val:7);
        text-align: left;
      }
      &:nth-child(2){
        @include flex($val:7);
      }
      &:nth-child(3){
        @include flex($val:6);
        text-align: right;
      }
    }
    td
    {
      &:nth-child(1){
        @include flex($val:7);
        text-align: left;
      }
      &:nth-child(2){
        @include flex($val:7);
      }
      &:nth-child(3){
        @include flex($val:6);
        text-align: right;
      }
    }
  }
}
.table-fund{//产品详情
  width: 88%;
  margin:0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  td{
    text-align:left;
    line-height: 24px;
    font-size: 1.2rem;
    color: #666666;
    &:nth-child(1){
      width: 22%;
    }
    &:nth-child(2){
      width: 38%;
    }
    &:nth-child(3){
      width: 22%;
    }
    &:nth-child(4){
      width: 18%;
    }
    .right_arrow{
      display:block;
      width:8px;
      height:13px;
      float:right;
      margin:0 auto;
      background:url(../images/icon_arrowright1@2x.png) no-repeat center center;
      background-size:100% 100%;
    }
    &>span{
      font-size: 1.4rem;
      color: #804F10;
      font-weight: bold;
    }
    .name{
      font-size: 1.4rem;
      font-weight: normal;
      color: #333333;
    }
  }
}
.border-top{
  border-top: 1px solid rgba(0,0,0,0.1);
}