@charset "UTF-8";
.sub-table{
  border: 1px solid #aaa;
  margin-top: 10px;
  tr {
    td{
      text-align: center;
      vertical-align: middle;
      .table-title {
        line-height:59px;
      }
      .table-title1{
        line-height: 27px;
        div {
          padding-top: 5px;
          overflow: hidden;
          span{
            float: left;
            width: 45%;
            margin-left: 5px;
            &:last-child {
              float: right;
              margin-right: 5px;
            }
          }
        }
      }
      .table-counter {
        overflow: hidden;
        span{
          float: left;
          width: 45%;
          margin-left: 5px;
          &:last-child {
            float: right;
            margin-right: 5px;
          }
        }
      }
      div.dropdown {
        margin-top: 5px;
      }
    }
  }
  tr.active {
    td {
      border-top:1px solid #aaa;
    }
  }
}