<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="topdeep.commonfund.entity.view.FundCustomerLogViewMapper">
    <resultMap type="topdeep.commonfund.entity.view.FundCustomerLogView" id="BaseResultMap">
        <result column="action_param9" property="refereeName"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="refereeCount" property="refereeCount" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="rownum" property="rowNum"  javaType="java.lang.String" jdbcType="VARCHAR" />
    </resultMap>
    
     <resultMap type="topdeep.commonfund.entity.view.FundCustomerLogView" id="BaseResultMap1">
        <result column="action_param9" property="refereeName"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="action_type" property="refereeTrade"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="action_time" property="tradeDate"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="action_param2" property="tradeFundName"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="action_param3" property="tradeAmount"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="id_type" property="idType"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="id_no" property="idNo"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="c" property="refereeNum"  javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="s" property="refereeAmount"  javaType="java.lang.String" jdbcType="VARCHAR" />
         <result column="customerType" property="customerType"  javaType="java.lang.String" jdbcType="VARCHAR" />
         <result column="id" property="id"  javaType="java.lang.String" jdbcType="VARCHAR" />
         <result column="customerName" property="customerName"  javaType="java.lang.String" jdbcType="VARCHAR" />
    </resultMap>
  
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <select id="selectCountByActionType" parameterType="java.util.Date" resultType="topdeep.commonfund.entity.view.FundCustomerLogView">
	select ACTION_TYPE actionType ,count(*) total from T_FUND_CUSTOMER_LOG  where ACTION_TIME &gt;=  #{date,jdbcType=TIMESTAMP} group by ACTION_TYPE
  </select>
  
  <sql databaseId="oracle" id="PagePrefix">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql databaseId="mysql" id="PagePrefix">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <if test="page != null">
      select * from ( 
    </if>
  </sql>
  <sql databaseId="oracle" id="PageSuffix">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
  <sql databaseId="mysql" id="PageSuffix">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <if test="page != null">
      <![CDATA[ ) ___ttt___ limit #{page.begin}, #{page.rowsOfPage} ]]>
    </if>
  </sql>
</mapper>